<div class="productMetafields">
  {% if product.metafields.coffee.origin %}<span class="origin"><i class="mi-location"></i>{{ product.metafields.coffee.origin }}</span>{% endif %}
  {% if product.metafields.coffee.process %}<span class="process"><i class="mi-sun"></i>{{ product.metafields.coffee.process }}</span>{% endif %}
  {% if product.metafields.coffee.altitude %}<span class="altitude"><i class="mi-circle-arrow-up"></i>{{ product.metafields.coffee.altitude }}</span>{% endif %}
  {% if product.metafields.coffee.roast %}<span class="roast"><i class="mi-temperature"></i>{{ product.metafields.coffee.roast }}</span>{% endif %}
  {% if product.metafields.coffee.variety %}<span class="variety"><i class="mi-temperature"></i>{{ product.metafields.coffee.variety }}</span>{% endif %}
</div>