{% assign id = section.id | split: '__' | last | truncate: 8, '' | prepend: 'breadcrumb_' %}
{% assign set = section.settings %}

<!--HTML-->
<section class="breadcrumb" id="{{ id }}" data-bg="{{ section.settings.bgImage | image_url }}">
  <div id="{{ id }}_container">
    <a href="/">{{ 'general.home' | t }}</a>
    <i class="mi-chevron-right"></i>
    {% if template == "article" %}
    <a href="{{ blog.url }}">{{ blog.title }}</a>
    <i class="mi-chevron-right"></i>
    {% endif %}
    {% if template == "product" %}
    <a href="{{ routes.all_products_collection_url }}">{{ 'general.products' | t }}</a>
    <i class="mi-chevron-right"></i>
    {% endif %}
    <span>{% if template == 'product' %}{{ product.title | truncate: 20 }}{% else %}{{ page_title | truncate: 20 }}{% endif %}</span>
  </div>
</section>

<!--CSS-->
<style>
  #{{ id }} {
    background: {% if set.altBg != blank %}{{ set.altBg }}{% else %}{{ set.bg }}{% endif %};
    padding-top: {{ set.paddingTop }}px;
    padding-bottom: {{ set.paddingBottom }}px;
  }
  #{{ id }}_container {
    background: {% if set.innerAltBg != blank %}{{ set.innerAltBg }}{% else %}{{ set.innerBg }}{% endif %};
    {% if set.type %}
    max-width: {{ set.maxWidth }}px;
    margin: 0 auto;
    {% endif %}
    border-radius: {{ set.borderRadius }}px;
    padding: {{ set.innerPadding }}px;
    display: flex;
    align-items: center;
    justify-content: {{ set.align }};
    gap: {{ set.gap }}px;
    width: 100%;
  }
  @media (max-width: 800px) {
    #{{ id }} {
      padding-top: {{ set.paddingTop | divided_by: 2 }}px;
      padding-bottom: {{ set.paddingBottom | divided_by: 2 }}px;
    }
    #{{ id }}_container {
      border-radius: {{ set.borderRadius | divided_by: 2 }}px;
      padding: {{ set.innerPadding | divided_by: 2 }}px;
      gap: {{ set.gap | divided_by: 2 }}px;
    }
  }
</style>

{% schema %}
  {
    "name": "Breadcrumb",
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "altBg",
        "label": "Alternative background"
      },
      {
        "type": "color",
        "id": "innerBg",
        "label": "Inner background"
      },
      {
        "type": "text",
        "id": "innerAltBg",
        "label": "Alternative inner background"
      },
      {
        "type": "header",
        "content": "Padding"
      },
      {
        "type": "range",
        "id": "paddingTop",
        "label": "Top padding",
        "min": 0,
        "max": 256,
        "step": 8,
        "default": 128
      },
      {
        "type": "range",
        "id": "paddingBottom",
        "label": "Bottom padding",
        "min": 0,
        "max": 256,
        "step": 8,
        "default": 128
      },
      {
        "type": "range",
        "id": "innerPadding",
        "label": "Inner padding",
        "min": 0,
        "max": 64,
        "step": 8,
        "default": 0
      },
      {
        "type": "header",
        "content": "Container"
      },
      {
        "type": "checkbox",
        "id": "type",
        "label": "Use container",
        "default": true
      },
      {
        "type": "range",
        "id": "maxWidth",
        "label": "Max-width",
        "unit": "px",
        "min": 800,
        "max": 1400,
        "step": 50,
        "default": 1400
      },
      {
        "type": "range",
        "id": "borderRadius",
        "label": "Border radius",
        "min": 0,
        "max": 64,
        "step": 8,
        "default": 0
      },
      {
        "type": "header",
        "content": "Alignement"
      },
      {
        "type": "radio",
        "id": "align",
        "label": "Alignment",
        "options": [
          {
            "label": "Right",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Left",
            "value": "end"
          }
        ],
        "default": "start"
      },
      {
        "type": "range",
        "id": "gap",
        "label": "Gap",
        "min": 0,
        "max": 32,
        "step": 4,
        "default": 16
      }
    ],
    "presets": [
      {
        "name": "Breadcrumb"
      }
    ]
  }
{% endschema %}