{% assign sort_by = collection.sort_by | default: "manual" %}
{% assign set = section.settings %}

{% if template == 'search' %}
  {% assign targetProducts = search.results %}
{% else %}
  {% assign targetProducts = collection.products %}
{% endif %}

<!--HTML-->
<section id="cortadoCollection">
  <div id="cortadoCollection_container">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "head" %}
          <style>
            #cortadoCollection_container > .head {
              align-items: {{ block.settings.alignment }};
              text-align: {{ block.settings.alignment }};
              padding: {{ block.settings.containerPadding }}px;
              background-color:{{ block.settings.containerBg }};
              border-radius: {{ block.settings.borderRadius }}px;
            }
            #cortadoCollection_container > .head > h1 {
              color: {{ block.settings.titleColor }};
              text-align: {{ block.settings.alignment }};
            }
            #cortadoCollection_container > .head > div * {
              color: {{ block.settings.textColor }};
              text-align: {{ block.settings.alignment }};
            }
            @media (max-width: 800px) {
              #cortadoCollection_container > .head {
                padding: {{ block.settings.containerPadding | divided_by: 2 }}px;
                border-radius: {{ block.settings.borderRadius | divided_by: 2 }}px;
              }
            }
          </style>
          <div class="head">
            <h1>{{ collection.title }}</h1>
            {% if collection.description != blank %}<div>{{ collection.description }}</div>{% endif %}
          </div>
        {% when "sort" %}
          <style>
            #cortadoCollection_container > .sort {
              justify-content: {{ block.settings.alignment }};
              padding: {{ block.settings.containerPadding }}px;
              background-color:{{ block.settings.containerBg }};
              border-radius: {{ block.settings.borderRadius }}px;
            }
            #cortadoCollection_container > .sort span {
              color: {{ block.settings.textColor }};
            }
            @media (max-width: 800px) {
              #cortadoCollection_container > .sort {
                padding: {{ block.settings.containerPadding | divided_by: 2 }}px;
                border-radius: {{ block.settings.borderRadius | divided_by: 2 }}px;
              }
            }
          </style>
          <div class="sort">
            <span>{{ 'collections.showing' | t }} {% if targetProducts.size < 24 %}{{ targetProducts.size }}{% else %}24{% endif %} {{ 'collections.of' | t }} {{ targetProducts.size }} {{ 'collections.result' | t }}{% if targetProducts.size > 1 %}s{% endif %}</span>
            <div class="sortBy">
              <span>{{ 'collections.sort_by' | t }} : {% case sort_by %}
                {% when 'manual' %}{{ 'collections.sort_by_options.featured' | t }}
                {% when'best-selling' %}{{ 'collections.best-selling' | t }}
                {% when 'title-ascending' %}{{ 'collections.sort_by_options.alphabetically-a-z' | t }}
                {% when 'title-descending' %}{{ 'collections.sort_by_options.alphabetically-z-a' | t }}
                {% when 'price-ascending' %}{{ 'collections.sort_by_options.price-low-to-high' | t }}
                {% when 'price-descending' %}{{ 'collections.sort_by_options.price-high-to-low' | t }}
                {% when 'created-descending' %}{{ 'collections.sort_by_options.date-new-to-old' | t }}
                {% when 'created-ascending' %}{{ 'collections.sort_by_options.date-old-to-new' | t }}
              {% endcase %}
              </span>
              <div>
                {% for option in collection.sort_options %}
                  <a href="{{ collection.url | sort_by: option.value }}">{{ option.name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        {% when "filters" %}
          <style>
            #cortadoCollection_container > .filters {
              justify-content: {{ block.settings.alignment }};
              padding: {{ block.settings.containerPadding }}px;
              background-color:{{ block.settings.containerBg }};
              border-radius: {{ block.settings.borderRadius }}px;
            }
            #cortadoCollection_container > .filters span {
              color: {{ block.settings.textColor }};
            }
            @media (max-width: 800px) {
              #cortadoCollection_container > .filters {
                padding: {{ block.settings.containerPadding | divided_by: 2 }}px;
                border-radius: {{ block.settings.borderRadius | divided_by: 2 }}px;
              }
            }
          </style>
          <div class="filters">
            {% assign filters = block.settings.filters | remove: ' ' | split: ',' %}
            {% for filter in filters %}
              <div class="filter">
                <span>{{ 'collections.filter_by' | t }} {{ filter }}</span>
                {% for product in targetProducts %}
                  {% if product.metafields.coffee.origin %}{% if filter == 'Origin' %}{% assign origin = true %}{% endif %}{% endif %}
                  {% if product.metafields.coffee.process %}{% if filter == 'Process' %}{% assign process = true %}{% endif %}{% endif %}
                  {% if product.metafields.coffee.altitude %}{% if filter == 'Altitude' %}{% assign altitude = true %}{% endif %}{% endif %}
                  {% if product.metafields.coffee.roast %}{% if filter == 'Roast' %}{% assign roast = true %}{% endif %}{% endif %}
                  {% if product.metafields.coffee.variety %}{% if filter == 'Variety' %}{% assign variety = true %}{% endif %}{% endif %}
                {% endfor %}
                {% if origin == true or process == true or altitude == true or roast == true or variety == true %}
                  {% assign usingMetafields = true %}
                {% endif %}
                {% assign conditions = '' %}
                {% for product in targetProducts %}
                  {% if usingMetafields %}
                    {% case filter %}
                      {% when 'Origin' %}
                        {% assign targetMetafield = product.metafields.coffee.origin %}
                      {% when 'Process' %}
                        {% assign targetMetafield = product.metafields.coffee.process %}
                      {% when 'Altitude' %}
                        {% assign targetMetafield = product.metafields.coffee.altitude %}
                      {% when 'Roast' %}
                        {% assign targetMetafield = product.metafields.coffee.roast %}
                      {% when 'Variety' %}
                        {% assign targetMetafield = product.metafields.coffee.variety %}
                    {% endcase %}
                    {% if conditions == '' %}
                      {% assign conditions = targetMetafield %}
                    {% else %}
                      {% assign conditions = conditions | append: ',' | append: targetMetafield %}
                    {% endif %}
                  {% else %}
                    {% for option in product.options_with_values %}
                      {% if option.name == filter %}
                        {% for value in option.values %}
                          {% unless conditions contains value %}
                            {% if conditions == '' %}
                              {% assign conditions = value %}
                            {% else %}
                              {% assign conditions = conditions | append: ',' | append: value %}
                            {% endif %}
                          {% endunless %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                {% assign conditions = conditions | split: ',' %}
                {% for condition in conditions %}
                  <span class="item" onclick="filter('{{ condition | handleize }}')">{{ condition }}</span>
                {% endfor %}
                <style>
                  {% for condition in conditions %}
                    .filter_{{ condition | handleize }} {
                      display: none;
                    }
                  {% endfor %}
                </style>
              </div>
            {% endfor %}
          </div>
        {% when "products" %}
          <style>
            #cortadoCollection_container > .foot {
              justify-content: {{ block.settings.alignment }};
              text-align: {{ block.settings.alignment }};
              padding: {{ block.settings.containerPadding }}px;
              background-color:{{ block.settings.containerBg }};
              border-radius: {{ block.settings.borderRadius }}px;
            }
            #cortadoCollection_container > .foot span, 
            #cortadoCollection_container > .foot a {
              color: {{ block.settings.textColor }};
            }
            @media (max-width: 800px) {
              #cortadoCollection_container > .foot {
                padding: {{ block.settings.containerPadding | divided_by: 2 }}px;
                border-radius: {{ block.settings.borderRadius | divided_by: 2 }}px;
              }
            }
          </style>
          {% paginate targetProducts by 24 %}
          <div class="products">
            {% for product in targetProducts %}
              {% include 'product-card' %}
            {% endfor %}
          </div>
          <div class="foot">
            {{ paginate | default_pagination }}
          </div>
          {% endpaginate %}
      {% endcase %}
    {% endfor %}
  </div>
</section>

<!--CSS-->
<style>
  #cortadoCollection {
    background: {% if set.altBg != blank %}{{ set.altBg }}{% else %}{{ set.bg }}{% endif %};
    padding-top: {{ set.paddingTop }}px;
    padding-bottom: {{ set.paddingBottom }}px;
  }
  #cortadoCollection_container {
    background: {% if set.innerAltBg != blank %}{{ set.innerAltBg }}{% else %}{{ set.innerBg }}{% endif %};
    {% if set.type %}
    max-width: {{ set.maxWidth }}px;
    margin: 0 auto;
    {% endif %}
    border-radius: {{ set.borderRadius }}px;
    overfow: hidden;
    padding: {{ set.innerPadding }}px;
    display: flex;
    flex-direction: column;
    align-items: {{ set.align }};
    gap: {{ set.gap }}px;
  }
  @media (max-width: 800px) {
    #cortadoCollection {
      padding-top: {{ set.paddingTop | divided_by: 2 }}px;
      padding-bottom: {{ set.paddingBottom | divided_by: 2 }}px;
    }
    #cortadoCollection_container {
      border-radius: {{ set.borderRadius | divided_by: 2 }}px;
      padding: {{ set.innerPadding | divided_by: 2 }}px;
      gap: {{ set.gap | divided_by: 2 }}px;
    }
  }
  #cortadoCollection_container > .head {
    display: flex;
    flex-direction: column;
    gap: {{ set.gap | divided_by: 2 }}px;
    width: 100%;
  }
  #cortadoCollection_container > .products {
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 32px;
  }
  @media (max-width: 1200px) {
    #cortadoCollection_container > .products {
      grid-template-columns: repeat(3,minmax(0,1fr));
    }
  }
  @media (max-width: 900px) {
    #cortadoCollection_container > .products {
      grid-template-columns: repeat(2,minmax(0,1fr));
    }
  }
  @media (max-width: 800px) {
    #cortadoCollection_container > .products {
      gap: 16px;
    }
  }
  @media (max-width: 600px) {
    #cortadoCollection_container > .products {
      grid-template-columns: 100%;
    }
  }
  #cortadoCollection_container > .products.loading {
    opacity: 0.5;
    pointer-events: none;
    user-select: none;
  }
  #cortadoCollection_container > .sort, 
  #cortadoCollection_container > .filters {
    display: flex;
    align-items: center;
    gap: {{ set.gap }}px;
    width: 100%;
  }
  .sortBy {
    cursor: pointer;
    position: relative;
  }
  .sortBy > span {
    display: block;
    z-index: 2;
    margin-bottom: -20px;
    padding-bottom: 20px;
  }
  .sortBy > span:after {
    content: "\f120";
    font-family: icons!important;
  }
  .sortBy > div {
    display: none;
    position: absolute;
    right: 0px;
    top: 150%;
    flex-direction: column;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    align-items: stretch;
    background: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    border-top: none;
    z-index: 1;
  }
  .sortBy:hover > div {
    display: flex;
  }
  .sortBy > div > a {
    padding: 5px 20px;
    text-align: right;
    white-space: nowrap;
  }
  .sortBy > div > a:hover {
    background-color: #f0f0f0;
  }
  #cortadoCollection_container > .foot {
    display: flex;
    gap: {{ set.gap }}px;
    width: 100%;
  }
  #cortadoCollection_container > .foot a:hover {
    opacity: 0.5;
  }
  #cortadoCollection_container > .foot .current {
    font-weight: bold;
  }
   #cortadoCollection_container > .filters > .filter {
    display: flex;
    align-items: center;
    gap: {{ set.gap | divided_by: 2 }}px;
  }
  #cortadoCollection_container > .filters > .filter > .item {
    cursor: pointer;
    font-size: 16px;
    padding: 0.4em 0.8em;
    background-color: white;
  }
  #cortadoCollection_container > .filters > .filter > .item:hover {
    opacity: 0.75;
  }
  #cortadoCollection_container > .filters > .filter > .item.active {
    font-weight: bold;
  }
  #cortadoCollection_container > .filters > .filter.active > .item:not(.active) {
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
  }
  .productCardContainer.disabled {
    display: none;
  }
  @media (max-width: 800px) {
    #cortadoCollection_container > .filters, 
    #cortadoCollection_container > .sort {
      flex-direction: column;
      gap: 16px;
    }
  }
</style>

<!--JavaScript-->
<script>
  {% for block in section.blocks %}
  {% if block.type == 'filters' %}
    let productCards = document.querySelectorAll('.productCardContainer');
    let productContainer = document.querySelector('#cortadoCollection_container > .products');
    function filter(saveur) {
      productContainer.classList.add('loading');
      let targetSaveur = saveur;
      event.target.classList.toggle('active');
      event.target.parentElement.classList.toggle('active');
      setTimeout(() => {
        for (let i = 0; i < productCards.length; i++) {
          if (productCards[i].dataset.filters.includes(targetSaveur)) {
          } else {
            if (productCards[i].classList.contains('filter_' + targetSaveur)) {
              productCards[i].classList.remove('filter_' + targetSaveur);
            } else {
              productCards[i].classList.add('filter_' + targetSaveur);
            }
          }
        }
        productContainer.classList.remove('loading');
      }, 150);
    }
  {% endif %}
  {% endfor %}
</script>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "altBg",
        "label": "Alternative background"
      },
      {
        "type": "color",
        "id": "innerBg",
        "label": "Inner background"
      },
      {
        "type": "text",
        "id": "innerAltBg",
        "label": "Alternative inner background"
      },
      {
        "type": "header",
        "content": "Padding"
      },
      {
        "type": "range",
        "id": "paddingTop",
        "label": "Top padding",
        "min": 0,
        "max": 128,
        "step": 8,
        "default": 32
      },
      {
        "type": "range",
        "id": "paddingBottom",
        "label": "Bottom padding",
        "min": 0,
        "max": 128,
        "step": 8,
        "default": 32
      },
      {
        "type": "range",
        "id": "innerPadding",
        "label": "Inner padding",
        "min": 0,
        "max": 64,
        "step": 8,
        "default": 0
      },
      {
        "type": "header",
        "content": "Container"
      },
      {
        "type": "checkbox",
        "id": "type",
        "label": "Use container",
        "default": true
      },
      {
        "type": "range",
        "id": "maxWidth",
        "label": "Max-width",
        "unit": "px",
        "min": 800,
        "max": 1400,
        "step": 50,
        "default": 1400
      },
      {
        "type": "range",
        "id": "borderRadius",
        "label": "Border radius",
        "min": 0,
        "max": 64,
        "step": 8,
        "default": 0
      },
      {
        "type": "header",
        "content": "Alignement"
      },
      {
        "type": "radio",
        "id": "align",
        "label": "Alignment",
        "options": [
          {
            "label": "Right",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Left",
            "value": "end"
          }
        ],
        "default": "start"
      },
      {
        "type": "range",
        "id": "gap",
        "label": "Gap",
        "min": 0,
        "max": 64,
        "step": 4,
        "default": 32
      }
    ],
    "blocks": [
      {
        "name": "Head",
        "type": "head",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Heading block"
          },
          {
            "type": "range",
            "id": "containerPadding",
            "label": "Container's inner padding",
            "min": 0,
            "max": 64,
            "step": 4,
            "default": 32
          },
          {
            "type": "range",
            "id": "borderRadius",
            "label": "Container's border radius",
            "min": 0,
            "max": 64,
            "step": 4,
            "default": 0
          },
          {
            "type": "color",
            "id": "containerBg",
            "label": "Container's background color",
            "default": "#2d4036"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Content alignment",
            "options": [
              {
                "value": "start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "end",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "color",
            "id": "titleColor",
            "label": "Title color",
            "default": "#ffffff"
          },
          {
            "type": "color",
            "id": "textColor",
            "label": "Text color",
            "default": "#ffffff"
          }
        ]
      },
      {
        "name": "Sort by",
        "type": "sort",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Sort block"
          },
          {
            "type": "color",
            "id": "textColor",
            "label": "Text color",
            "default": "#000000"
          },
          {
            "type": "range",
            "id": "containerPadding",
            "label": "Container's inner padding",
            "min": 0,
            "max": 64,
            "step": 4,
            "default": 16
          },
          {
            "type": "range",
            "id": "borderRadius",
            "label": "Container's border radius",
            "min": 0,
            "max": 64,
            "step": 4,
            "default": 0
          },
          {
            "type": "color",
            "id": "containerBg",
            "label": "Container's background color",
            "default": "#f7f7f7"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Content alignment",
            "options": [
              {
                "value": "start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "end",
                "label": "Right"
              },
              {
                "value": "space-between",
                "label": "Spread"
              }
            ],
            "default": "space-between"
          }
        ]
      },
      {
        "name": "Filters",
        "type": "filters",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Filters block"
          },
          {
            "type": "header",
            "content": "Custom filters"
          },
          {
            "type": "text",
            "id": "filters",
            "label": "Custom filters",
            "info": "Enter the filters you want to use seperated by a comma."
          },
          {
            "type": "color",
            "id": "textColor",
            "label": "Text color",
            "default": "#000000"
          },
          {
            "type": "range",
            "id": "containerPadding",
            "label": "Container's inner padding",
            "min": 0,
            "max": 64,
            "step": 4,
            "default": 16
          },
          {
            "type": "range",
            "id": "borderRadius",
            "label": "Container's border radius",
            "min": 0,
            "max": 64,
            "step": 4,
            "default": 0
          },
          {
            "type": "color",
            "id": "containerBg",
            "label": "Container's background color",
            "default": "#f7f7f7"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Content alignment",
            "options": [
              {
                "value": "start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "end",
                "label": "Right"
              },
              {
                "value": "space-between",
                "label": "Spread"
              }
            ],
            "default": "start"
          }
        ]
      },
      {
        "name": "Products",
        "type": "products",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Products block"
          },
          {
            "type": "header",
            "content": "Pagination settings"
          },
          {
            "type": "color",
            "id": "textColor",
            "label": "Text color",
            "default": "#000000"
          },
          {
            "type": "range",
            "id": "containerPadding",
            "label": "Container's inner padding",
            "min": 0,
            "max": 64,
            "step": 4,
            "default": 32
          },
          {
            "type": "range",
            "id": "borderRadius",
            "label": "Container's border radius",
            "min": 0,
            "max": 64,
            "step": 4,
            "default": 0
          },
          {
            "type": "color",
            "id": "containerBg",
            "label": "Container's background color",
            "default": "#f7f7f7"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Content alignment",
            "options": [
              {
                "value": "start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "end",
                "label": "Right"
              }
            ],
            "default": "center"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "head"
        },
        {
          "type": "sort"
        },
        {
          "type": "filters"
        },
        {
          "type": "products"
        }
      ]
    }
  }
{% endschema %}