<!--HTML-->
<section style="{% if section.settings.bgGradient != blank %}background:{{ section.settings.bgGradient }};{% else %}background-color:{{ section.settings.bg }};{% endif %} padding-top: {{ section.settings.paddingTop }}px; padding-bottom: {{ section.settings.paddingBottom }}px">
  <div class="foodMenu" style="{% if section.settings.sectionType == "container" %}padding: {{ section.settings.containerPadding }}px; {% if section.settings.containerBgGradient != blank %}background:{{ section.settings.containerBgGradient }};{% else %}background-color:{{ section.settings.containerBg }};{% endif %} max-width: {{ section.settings.containerWidth }}px; margin-left: auto; margin-right: auto; border-radius: {{ section.settings.borderRadius }}px;{% endif %}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "category" %}
          <h2>{{ block.settings.text }}</h2>
        {% when "item" %}
          <div class="item">
            <span class="title">{{ block.settings.text }}{% if block.settings.image != blank %}<i class="mi-image"></i><img class="lazyload" alt="{{ block.settings.text }}" style="border-radius: 15px;" data-src="{{ block.settings.image | image_url }}">{% endif %}</span>
            {% if block.settings.price1 != blank %}<span>{{ block.settings.price1 }}</span>{% endif %}
            {% if block.settings.price2 != blank %}<span>{{ block.settings.price2 }}</span>{% endif %}
            {% if block.settings.price3 != blank %}<span>{{ block.settings.price3 }}</span>{% endif %}
          </div>
          {% if block.settings.info != blank %}<p>{{ block.settings.info }}</p>{% endif %}
      {% endcase %}
    {% endfor %}
  </div>
</section>

<!--CSS-->
<style>
  .foodMenu {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .foodMenu > h3 {
    padding: 10px 0px;
  }
  .foodMenu > .item {
    display: flex;
    gap: 15px;
  }
  .foodMenu > .item > .title {
    cursor: pointer;
    position: relative;
    margin-right: auto;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 18px;
  }
  .foodMenu > .item > .title > img {
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;
    object-fit: cover;
    left: 110%;
    top: 0px;
    animation-name: fadeIn;
    animation-duration: 0.2s;
  }
  .foodMenu > .item > .title:hover > img {
    display: flex;
  }
  .foodMenu > p {
    font-size: 14px;
    font-style: italic;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  @media (max-width: 800px) {
    .foodMenu > .item > .title > img {
      width: 200px;
      height: 200px;
    }
  }
  @media (max-width: 350px) {
    .foodMenu > p {
      font-size: 12px;
    }
    .foodMenu > .item > * {
      font-size: 14px !important;
    }
  }
</style>

{% schema %}
  {
    "name": "Menu",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background color",
        "default": "#ffffff"
      },
      {
        "type": "color_background",
        "id": "bgGradient",
        "label": "Background gradient"
      },
      {
        "type": "range",
        "id": "paddingTop",
        "label": "Section's top margin",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 5,
        "default": 50
      },
      {
        "type": "range",
        "id": "paddingBottom",
        "label": "Section's bottom margin",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 5,
        "default": 50
      },
      {
        "type": "select",
        "id": "sectionType",
        "label": "Section type",
        "options": [
          {
            "value": "full",
            "label": "Full width"
          },
          {
            "value": "container",
            "label": "Container"
          }
        ],
        "default": "container"
      },
      {
        "type": "range",
        "id": "containerWidth",
        "label": "Container's width",
        "unit": "px",
        "min": 600,
        "max": 1600,
        "step": 50,
        "default": 800
      },
      {
        "type": "range",
        "id": "containerPadding",
        "label": "Container's inner padding",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "borderRadius",
        "label": "Container's border radius",
        "unit": "px",
        "min": 0,
        "max": 30,
        "step": 1,
        "default": 0
      },
      {
        "type": "color",
        "id": "containerBg",
        "label": "Container's background color",
        "default": "#ffffff"
      },
      {
        "type": "color_background",
        "id": "containerBgGradient",
        "label": "Container's background gradient"
      }
    ],
    "blocks": [
      {
        "name": "Menu category",
        "type": "category",
        "settings": [
          {
            "type": "header",
            "content": "Menu category"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Category name",
            "default": "Cafés"
          }
        ]
      },
      {
        "name": "Menu item",
        "type": "item",
        "settings": [
          {
            "type": "header",
            "content": "Menu item"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Item name",
            "default": "Café latte"
          },
          {
            "type": "textarea",
            "id": "info",
            "label": "Additional info"
          },
          {
            "type": "text",
            "id": "price1",
            "label": "Item price 1",
            "default": "4,50 $"
          },
          {
            "type": "text",
            "id": "price2",
            "label": "Item price 2",
            "default": "5,50 $"
          },
          {
            "type": "text",
            "id": "price3",
            "label": "Item price 3",
            "default": "6,50 $"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Item image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Food menu",
        "blocks": [
          {
            "type": "category",
            "settings": {
              "text": "Cafés"
            }
          },
          {
            "type": "item",
            "settings": {
              "text": "Café latte",
              "info": "",
              "price1": "4,50 $",
              "price2": "5,50 $",
              "price3": "6,50 $"
            }
          },
          {
            "type": "item",
            "settings": {
              "text": "Mokaccino",
              "info": "",
              "price1": "5,50 $",
              "price2": "6,50 $",
              "price3": "7,50 $"
            }
          },
          {
            "type": "item",
            "settings": {
              "text": "Dirty chaï latte",
              "info": "",
              "price1": "5,50 $",
              "price2": "6,50 $",
              "price3": "7,50 $"
            }
          },
          {
            "type": "category",
            "settings": {
              "text": "Viennoiseries"
            }
          },
          {
            "type": "item",
            "settings": {
              "text": "Chocolatine",
              "info": "",
              "price1": "3,00 $",
              "price2": "",
              "price3": ""
            }
          },
          {
            "type": "item",
            "settings": {
              "text": "Amandine",
              "info": "",
              "price1": "3,50 $",
              "price2": "",
              "price3": ""
            }
          }
        ]
      }
    ],
    "enabled_on": {
      "templates": ["page"]
    }
  }
{% endschema %}