{% assign set = section.settings %}

<!--HTML-->
<section id="cortadoFooter">
  <div id="cortadoFooter_container">

<!--HTML-->
<section style="{% if section.settings.bgGradient != blank %}background:{{ section.settings.bgGradient }};{% else %}background-color:{{ section.settings.bg }};{% endif %} padding-top: {{ section.settings.paddingTop }}px; padding-bottom: {{ section.settings.paddingBottom }}px">
  <div class="footer" style="{% if section.settings.sectionType == "container" %}padding: {{ section.settings.containerPadding }}px; {% if section.settings.containerBgGradient != blank %}background:{{ section.settings.containerBgGradient }};{% else %}background-color:{{ section.settings.containerBg }};{% endif %} max-width: {{ section.settings.containerWidth }}px; margin-left: auto; margin-right: auto; border-radius: {{ section.settings.borderRadius }}px;{% endif %}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when "menu" %}
          <div class="menu" style="align-items: {{ block.settings.alignment }}">
            {% for link in block.settings.menu.links %}
              <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
            {% endfor %}
          </div>
        {% when "logo" %}
          <div class="logo" style="align-items: {{ block.settings.alignment }}">
            <a href="{{ routes.root_url }}"><img class="lazyload" data-src="{% if block.settings.logo != blank %}{{ block.settings.logo | image_url }}{% else %}{{ 'Cortado_logo_colors.svg' | asset_url }}{% endif %}" width="{{ block.settings.logoWidth }}px" alt="{{ shop.name }} Logo"></a>
          </div>
        {% when "map" %}
          <div class="map">
            <iframe class="lazyload" {% if block.settings.borderRadius > 0 %}style="border-radius: {{ block.settings.borderRadius }}px; border: none; overflow: hidden"{% endif %} data-src="{{ block.settings.mapSRC }}" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
      {% endcase %}
    {% endfor %}
  </div>
</section>
<section id="cortadoBottomFooter">
  <span>© {{ "now" | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name }}</a>. {{ "general.copyright_text" | t }}.</span>
</section>

<!--CSS-->
<style>
  #cortadoFooter_container {
    display: grid;
    grid-template-columns: repeat({{ section.blocks.size }},1fr);
    gap: 25px;
  }
  #cortadoFooter_container > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #cortadoFooter_container > .menu {
    gap: 10px;
  }
  #cortadoFooter_container > .menu > a {
    font-family: {% if section.settings.fontFamily == "main" %}{{ settings.mainFontFamily }}{% else %}{{ settings.secondFontFamily }}{% endif %};
    color: {{ section.settings.textColor }};
  }
  #cortadoFooter_container > .menu > a:hover {
    opacity: 0.5;
  }
  #cortadoBottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: white;
  }
  #cortadoBottomFooter * {
    font-size: 14px;
  }
  #cortadoBottomFooter > span > a {
    font-weight: bold;
  }
  #cortadoBottomFooter > span > a:hover {
    opacity: 0.5;
  }
  @media (max-width: 800px) {
    #cortadoFooter_container {
      grid-template-columns: 100%;
    }
    #cortadoFooter_container > div {
      align-items: center !important;
    }
    #cortadoBottomFooter {
      flex-direction: column;
      gap: 10px;
      align-items: start;
    }
    #cortadoBottomFooter > span, 
    #cortadoBottomFooter > span > a {
      font-size: 10px;
    }
  }
</style>

{% schema %}
  {
    "name": "Footer",
    "tag": "footer",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background color",
        "default": "#f7f7f7"
      },
      {
        "type": "color_background",
        "id": "bgGradient",
        "label": "Background gradient"
      },
      {
        "type": "range",
        "id": "paddingTop",
        "label": "Section's top margin",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 5,
        "default": 25
      },
      {
        "type": "range",
        "id": "paddingBottom",
        "label": "Section's bottom margin",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 5,
        "default": 25
      },
      {
        "type": "select",
        "id": "sectionType",
        "label": "Section type",
        "options": [
          {
            "value": "full",
            "label": "Full width"
          }, {
            "value": "container",
            "label": "Container"
          }
        ],
        "default": "container"
      },
      {
        "type": "range",
        "id": "containerWidth",
        "label": "Container's width",
        "unit": "px",
        "min": 600,
        "max": 1600,
        "step": 50,
        "default": 1400
      },
      {
        "type": "range",
        "id": "containerPadding",
        "label": "Container's inner padding",
        "unit": "px",
        "min": 0,
        "max": 100,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "borderRadius",
        "label": "Container's border radius",
        "unit": "px",
        "min": 0,
        "max": 30,
        "step": 1,
        "default": 0
      },
      {
        "type": "color",
        "id": "containerBg",
        "label": "Container's background color",
        "default": "#f7f7f7"
      },
      {
        "type": "color_background",
        "id": "containerBgGradient",
        "label": "Container's background gradient"
      },
      {
        "type": "header",
        "content": "Section settings"
      },
      {
        "type": "paragraph",
        "content": "With Cortado, the footer is built in columns that become rows on mobile. Use blocks to separate the footer in the number of columns you need and align your items appropriatly."
      },
      {
        "type": "color",
        "id": "textColor",
        "label": "Footer text color",
        "default": "#2d4036"
      },
      {
        "type": "select",
        "id": "fontFamily",
        "label": "Footer text font family",
        "options": [
          {
            "value": "main",
            "label": "Main font family"
          },
          {
            "value": "second",
            "label": "Secondary font family"
          }
        ],
        "default": "main"
      }
    ],
    "max_blocks": 3,
    "blocks": [
      {
        "name": "Menu",
        "type": "menu",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Footer menu"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "options": [
              {
                "value": "start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "end",
                "label": "Right"
              }
            ],
            "default": "start"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Pick the footer menu",
            "default": "footer"
          }
        ]
      },
      {
        "name": "Logo",
        "type": "logo",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Logo"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Alignment",
            "options": [
              {
                "value": "start",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Center"
              },
              {
                "value": "end",
                "label": "Right"
              }
            ],
            "default": "center"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Please upload your logo in SVG or PNG format."
          },
          {
            "type": "range",
            "id": "logoWidth",
            "label": "Logo width",
            "min": 50,
            "max": 300,
            "step": 10,
            "unit": "px",
            "default": 150
          }
        ]
      },
      {
        "name": "Google maps",
        "type": "map",
        "limit": 1,
        "settings": [
          {
            "type": "header",
            "content": "Google maps"
          },
          {
            "type": "textarea",
            "id": "mapSRC",
            "label": "Google Map SRC",
            "info": "To obtain the SRC, lookup your adress on Google Maps, click Share, embed a map and copy the link inside the src='' tag.",
            "default": "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2801.3361577706023!2d-71.89390702356911!3d45.402560471073016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb7b333691a6f45%3A0x967b7b6cd807d4bd!2s22%20Agence%20Cr%C3%A9ative!5e0!3m2!1sen!2sca!4v1681399896557!5m2!1sen!2sca"
          },
          {
            "type": "range",
            "id": "borderRadius",
            "label": "Map border radius",
            "default": 0,
            "min": 0,
            "max": 30,
            "step": 1,
            "unit": "px"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "menu"
        },
        {
          "type": "logo"
        },
        {
          "type": "map"
        }
      ]
    }
  }
{% endschema %}