{% assign id = section.id | split: '__' | last | truncate: 8, '' | prepend: 'productList_' %}
{% assign set = section.settings %}

<!--HTML-->
<section id="{{ id }}">
  <div id="{{ id }}_container">
    {% for block in section.blocks %}
      {% if block.type == 'products' %}
        <style>
          #{{ id }}_{{ forloop.index0 }} {
            display: grid;
            grid-template-columns: repeat({% if block.settings.products == blank %}4{% else %}{% if block.settings.products.count <= 2 %}2{% else %}{{ block.settings.products.count }}{% endif %}{% endif %},1fr);
            gap: {{ set.gap }}px;
            width: 100%;
            {% if block.settings.gap %}margin-top: {{ set.gap }}px;{% endif %}
          }
          @media (max-width: 1000px) {
            #{{ id }}_{{ forloop.index0 }} {
              grid-template-columns: {% if block.settings.products.count == 1 %}100%{% else %}repeat(2,1fr){% endif %};
            }
          }
          @media (max-width: 800px) {
            #{{ id }}_{{ forloop.index0 }} {
              gap: {{ set.gap | divided_by: 2 }}px;
              {% if block.settings.gap %}margin-top: {{ set.gap | divided_by: 2 }}px;{% endif %}
            }
          }
          @media (max-width: 600px) {
            #{{ id }}_{{ forloop.index0 }} {
              grid-template-columns: 100%;
            }
          }
        </style>
      {% else %}
        <style>
          #{{ id }}_{{ forloop.index0 }} {
            {% if block.settings.gap %}margin-top: {{ set.gap }}px;{% endif %}
            text-align: {{ set.align }};
          }
          {% if block.type == 'paragraph' %}
          #{{ id }}_{{ forloop.index0 }} * {
            color: {{ block.settings.color }};
          }
          {% endif %}
          @media (max-width: 800px) {
            #{{ id }}_{{ forloop.index0 }} {
              {% if block.settings.gap %}margin-top: {{ set.gap | divided_by: 2 }}px;{% endif %}
            }
          }
        </style>
      {% endif %}
      {% case block.type %}
        {% when 'h1' %}<h1 id="{{ id }}_{{ forloop.index0 }}">{{ block.settings.title }}</h1>
        {% when 'h2' %}<h2 id="{{ id }}_{{ forloop.index0 }}">{{ block.settings.title }}</h2>
        {% when 'h3' %}<h3 id="{{ id }}_{{ forloop.index0 }}">{{ block.settings.title }}</h3>
        {% when 'paragraph' %}<div id="{{ id }}_{{ forloop.index0 }}">{{ block.settings.text }}</div>
        {% when 'button' %}<a id="{{ id }}_{{ forloop.index0 }}" title="{{ block.settings.text }}" href="{{ block.settings.link }}" class="btn{{ block.settings.type }}">{{ block.settings.text }}</a>
        {% when "products" %}
          {% render 'product-list', products: block.settings.products, product-limit: 3 %}
      {% endcase %}
    {% endfor %}
  </div>
</section>

<!--CSS-->
<style>
  #{{ id }} {
    background: {% if set.altBg != blank %}{{ set.altBg }}{% else %}{{ set.bg }}{% endif %};
    padding-top: {{ set.paddingTop }}px;
    padding-bottom: {{ set.paddingBottom }}px;
  }
  #{{ id }}_container {
    background: {% if set.innerAltBg != blank %}{{ set.innerAltBg }}{% else %}{{ set.innerBg }}{% endif %};
    {% if set.type %}
    max-width: {{ set.maxWidth }}px;
    margin: 0 auto;
    {% endif %}
    border-radius: {{ set.borderRadius }}px;
    overfow: hidden;
    padding: {{ set.innerPadding }}px;
    display: flex;
    flex-direction: column;
    align-items: {{ set.align }};
    gap: {{ set.gap }}px;
  }
  @media (max-width: 800px) {
    #{{ id }} {
      padding-top: {{ set.paddingTop | divided_by: 2 }}px;
      padding-bottom: {{ set.paddingBottom | divided_by: 2 }}px;
    }
    #{{ id }}_container {
      border-radius: {{ set.borderRadius | divided_by: 2 }}px;
      padding: {{ set.innerPadding | divided_by: 2 }}px;
      gap: {{ set.gap | divided_by: 2 }}px;
    }
  }
</style>

{% schema %}
  {
    "name": "Product list",
    "settings": [
      {
        "type": "header",
        "content": "Background"
      },
      {
        "type": "color",
        "id": "bg",
        "label": "Background",
        "default": "#ffffff"
      },
      {
        "type": "text",
        "id": "altBg",
        "label": "Alternative background"
      },
      {
        "type": "color",
        "id": "innerBg",
        "label": "Inner background"
      },
      {
        "type": "text",
        "id": "innerAltBg",
        "label": "Alternative inner background"
      },
      {
        "type": "header",
        "content": "Padding"
      },
      {
        "type": "range",
        "id": "paddingTop",
        "label": "Top padding",
        "min": 0,
        "max": 256,
        "step": 8,
        "default": 128
      },
      {
        "type": "range",
        "id": "paddingBottom",
        "label": "Bottom padding",
        "min": 0,
        "max": 256,
        "step": 8,
        "default": 128
      },
      {
        "type": "range",
        "id": "innerPadding",
        "label": "Inner padding",
        "min": 0,
        "max": 64,
        "step": 8,
        "default": 0
      },
      {
        "type": "header",
        "content": "Container"
      },
      {
        "type": "checkbox",
        "id": "type",
        "label": "Use container",
        "default": true
      },
      {
        "type": "range",
        "id": "maxWidth",
        "label": "Max-width",
        "unit": "px",
        "min": 800,
        "max": 1400,
        "step": 50,
        "default": 1400
      },
      {
        "type": "range",
        "id": "borderRadius",
        "label": "Border radius",
        "min": 0,
        "max": 64,
        "step": 8,
        "default": 0
      },
      {
        "type": "header",
        "content": "Alignement"
      },
      {
        "type": "radio",
        "id": "align",
        "label": "Alignment",
        "options": [
          {
            "label": "Right",
            "value": "start"
          },
          {
            "label": "Center",
            "value": "center"
          },
          {
            "label": "Left",
            "value": "end"
          }
        ],
        "default": "start"
      },
      {
        "type": "range",
        "id": "gap",
        "label": "Gap",
        "min": 0,
        "max": 32,
        "step": 4,
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "h1",
        "name": "H1",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "gap",
            "label": "Double top gap"
          },
          {
            "type": "header",
            "content": "First level title",
            "info": "The H1 generaly is the title of the page. Please use it once on each page."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Content",
            "default": "First level title"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Color"
          }
        ]
      },
      {
        "type": "h2",
        "name": "H2",
        "settings": [
          {
            "type": "checkbox",
            "id": "gap",
            "label": "Double top gap"
          },
          {
            "type": "header",
            "content": "Second level title",
            "info": "The H2 generaly is for section titles. Please use it once in each section."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Content",
            "default": "Second level title"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Color"
          }
        ]
      },
      {
        "type": "h3",
        "name": "H3",
        "settings": [
          {
            "type": "checkbox",
            "id": "gap",
            "label": "Double top gap"
          },
          {
            "type": "header",
            "content": "Third level title",
            "info": "H3s generaly are sub-titles within sections."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Content",
            "default": "Third level title"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Color"
          }
        ]
      },
      {
        "type": "paragraph",
        "name": "Paragraph",
        "settings": [
          {
            "type": "checkbox",
            "id": "gap",
            "label": "Double top gap"
          },
          {
            "type": "header",
            "content": "Paragraph block",
            "info": "The paragraph block is limited to 75 characters per line for better readability"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Content",
            "default": "<p>This is a paragraph where you can <b>style</b> elements at your desire.</p>"
          },
          {
            "type": "color",
            "id": "color",
            "label": "Color"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "checkbox",
            "id": "gap",
            "label": "Double top gap",
            "default": true
          },
          {
            "type": "header",
            "content": "Button block"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Call to action"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Url"
          },
          {
            "type": "radio",
            "id": "type",
            "label": "Button style",
            "options": [
              {
                "value": "1"
              },
              {
                "value": "2"
              },
              {
                "value": "3"
              },
              {
                "value": "4"
              }
            ],
            "default": "1"
          }
        ]
      },
      {
        "name": "Products",
        "type": "products",
        "settings": [
          {
            "type": "checkbox",
            "id": "gap",
            "label": "Double top gap",
            "default": true
          },
          {
            "type": "header",
            "content": "Products block"
          },
          {
            "type": "product_list",
            "id": "products",
            "label": "Select 4 products",
            "limit": 4
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Product list",
        "blocks": [
          {
            "type": "h2"
          },
          {
            "type": "paragraph"
          },
          {
            "type": "products"
          },
          {
            "type": "button"
          }
        ]
      }
    ]
  }
{% endschema %}